/* Main Body */
body {
	width: 90%;
	margin: 10px auto;
	text-align: center;
}

/* Display Person/People  */
.container {
	background-color: rgb(241, 241, 241);
	border-radius: 10px;
	width: auto;
	margin-top: 10px;
	text-align: center;
}

.row {
	margin: 0 auto;
	margin-bottom: 10px;
}

.input-tag {
	text-align: right;
}

.form-control {
	width: 250px;
}

.btn-find-people {
	margin-bottom: 10px;
}

.card {
	margin: auto;
}

#display-people {
	display: flex;
}

.hidden {
	display: none;
}