/* Main Body */
body {
	width: 90%;
	margin: 10px auto;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
}

/* Display Person/People  */
.container {
	background-color: rgb(241, 241, 241);
	border-radius: 10px;
	width: auto;
	margin-top: 20px;
	text-align: center;
}

.col-12 {
	margin: 20px auto;
}

.row {
	margin: 0 auto;
	margin-bottom: 10px;
}

.input-tag {
	text-align: right;
	padding-top: 5px;
}

.form-control {
	width: 250px;
}

.btn-find-people {
	margin-bottom: 10px;
}

.card {
	margin: auto;
}

#display-people {
	display: flex;
	flex-wrap: wrap;
	width: auto;
	margin: auto;
}

.displayPerson {
	margin-bottom: 10px;
}

.hidden {
	display: none;
}

.btn {
	margin-bottom: 10px;
}